body{
    background-color: rgb(243, 97, 92);
    margin: 10px;
}

h1{
    padding: 20px;
    text-align: center;
    color: #3a0200;
    font-weight: bold;
    border: 2px solid black;
}

h2{
    padding: 5px;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

h3{
    padding: 5px;
    text-align: left;
    color: #3a0200;
    font-weight: bold;
}

ul{
    padding: 5px;
    list-style-type: circle;
    margin: 20px;
}

ol{
    padding: 5px;
    list-style-type: upper-roman;
    margin: 30px;
}

p{
    padding: 5px;
    text-align:center;
}

footer{
    text-align: right;
}

/* *{
    border: 2px solid black;
} */