body{
    background-color: rgb(211, 144, 140);
    margin: 10px;
}

h1{
    padding: 20px;
    text-align: center;
    color: #3a0200;
    font-weight: bold;
    font-size: 50px;
}

h2{
    padding: 20px;
    color: darkblue;
    font-weight: bold;
    
    text-align: center;
}

h3{
    padding: 10px;
    text-align: left;
    color: #3a0200;
    font-weight: bold;
}

#headeraboutme{
    font-size: 185%;
}

img {
    width: 350px;
}

#huntImg{
    float: left;
    margin: 50px;
}

#ikeImg{
    float: right;
    margin: 50px
}

ul{
    padding: 5px;
    list-style-type: circle;
    margin: 20px;
}

ol{
    padding: 5px;
    list-style-type: upper-roman;
    margin: 30px;
}

p{
    padding: 10px;
    text-align:center;
}

#infoaboutme{
    width: 70%;
    margin: 10px;
    padding: 5px;
}

.mainbody{
    display: inline-block;
    width: 60%;
}

#top10{
    float: right;
    width: 60%;
    right: 50px;
}

footer{
    text-align: right;
    padding: 10px;
    font-weight: bold;
}
